.heroSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #F5F9FF 100%);
    position: relative;
    overflow: hidden;
}

.heroContainer {
    position: relative;
}

.heroSection .background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -310px;
    height: 50%;
    background-image: radial-gradient(ellipse 90% 60% at center,rgb(0, 164, 239) 0%,rgb(0, 164, 239) 40%,rgba(0, 164, 239, 0) 70%);
    filter: blur(240px);
    pointer-events: none;
    z-index: 0;
}

.pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
    z-index: 1;
    position: relative;
}

.partnerBadge {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-primary);
    background-color: #C0E4FF;
    border: 1px solid #00A4EF;
    padding: 6px 12px;
    border-radius: 30px;
}

.pageContent h1 {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.1;
    font-family: var(--font-heading);
}

.pageContent p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-gray);
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
     .heroSection {
        height: 65vh;
        align-items: start;
    }

    .pageContent {
        gap: 24px;
        margin-top: 100px;
    }

    .partnerBadge{
        font-size: 12px;
    }

    .pageContent h1 {
        font-size: 32px;
    }

    .pageContent p {
        font-size: 14px;
    }
}