.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    background: #fff;
    padding: 32px 40px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.modal h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-black);
    margin-bottom: 24px;
}

.modal p {
    font-size: 16px;
    color: var(--text-secondary);
}